################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/FSL.CyclomaticComplexity/bin
/FSL.CyclomaticComplexity/obj/Debug
*.user
/packages
/.vs
